#header{
    background-image: url(../img/aurora.jpg);
}

#img-header{
    align-items: center;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulos{
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
}

#contenedor{
    margin: 6rem;
}

span{
    font-weight: bold;
    font-style: italic;
}

#footer{
    background-color: #005677;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}

#margen-footer{
    margin:2em;
}

a {
    color: #C4C4C4;
}